:root {
    --primary-color: #E7403B;
    --title-color: #2E3547;
    --text-color: #6C6C80;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  div.App{
    display: grid;
    grid-template: 90vh 10vh/auto 11fr;
    grid-template-areas:
          "a m"
          "a f";
  }
  
  body {
    background: #F0F0F5;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
  }

  main {
    grid-area: m;
  }

  header {
    background: var(--primary-color);
    color: var(--text-color);
    width: 130px;
    border-radius: 0px 38px 38px 0px;
    grid-area: a;
  }

  footer {
    background: silver;
    grid-area: f;
    
  }
  footer > span {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu;
  }